* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 14px 'Roboto', sans-serif;
    background-color: #e4e4e4;
    padding: 50px 0;
}
.carousel-title {
    color: #6e4b87;
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
}
.carousel-container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}
.carousel-slide {
    display: flex;
}

.products {
    display: flex;
    width: 100%;
}

.product {
    background-color: #fff;
    width: 300px;
    height: 350px;
    padding: 15px 20px;
    position: relative;
}
.product img {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px auto;
    display: block;
}

.product-name {
    font-weight: 400;
    columns: #3b3b3b;
}

.product-old-price {
    color: rgb(165, 165, 165);
    text-decoration: line-through;
    font-size: 12px;
}

.price-span {
    color: #814f8b;
    font-size: 18px;
}

.prev {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    cursor: pointer;
    width: 16px;
}

.prev {
    position: absolute;
    top: 45%;
    z-index: 10;
    left: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.prev:hover, .next:hover {
    background-color: #fff;
    transition: all 0.4s;
}

.next {
    position: absolute;
    top: 45%;
    z-index: 10;
    right: 0%;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.mostpopular-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8ecf0;
    position: absolute;
    color: #814f8b;
    top: 5%;
    right: 10%;
    text-decoration: none;
    width: 30px;
    height: 30px;
}

.mostpopular-label:after {
    content: '';
    top: 30px;
    right: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 14px solid #e8ebf0;
}

.pricereduction-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #814f8b;
    position: absolute;
    color: #fff;
    top: 3%;
    left: 10%;
    text-decoration: none;
    width: 40px;
    height: 30px;
}